<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item0</key>
	<string></string>
	<key>Item1</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Cafe24Ssurround.ttf</string>
		<string>Cafe24SsurroundAir.ttf</string>
	</array>
</dict>
</plist>
